@import '../../../_variables.scss';

.board {
  margin: 16px auto;
  padding: 16px;
  font-size: 0.9em;
  max-width: 600px;

  &__title {
    text-transform: uppercase;
    padding: 8px 12px;
    border-left: 4px solid $primary;
    font-family: $font-primary;
  }

  &__numbers {
    margin-top: 12px;
    font-family: $font-secondary;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: stretch;
    grid-gap: 0.4em;
  }
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 4px 0;

  &.selected {
    background-color: $accent;
    color: #fff;
  }
}
