<header>
  <mat-toolbar color="primary">
    <span>Lucky Number Generator</span>
  </mat-toolbar>
</header>

<main class="main">
  <section class="boards">
    <header class="boards__header">
      <h2 class="boards__heading">
        May the odds be in your favour 🤞
      </h2>
    </header>

    <article>

    </article>

  </section>

  <section class="options">
    <header class="options__header">
      <h2 class="options__heading">
        Options
      </h2>
      <mat-icon class="options__icon" color="accent">settings</mat-icon>
    </header>

    <div class="options__container">
      <div class="option">
        <p class="option__label">Size of pool (e.g 32 balls)</p>
        <mat-slider thumbLabel min="30" max="50" step="2" [(value)]="boardOptions.sizeOfPool"></mat-slider>
      </div>
      <div class="option">
        <p class="option__label">Selections per board (e.g 6/32 balls)</p>
        <mat-slider thumbLabel min="4" max="10" step="1" [(value)]="boardOptions.selectionsPerBoard">></mat-slider>
      </div>
      <div class="option option--inline">
        <p class="option__label option__label--inline">Number of boards to generate: </p>
        <mat-form-field class="numOfBoards">
          <mat-select [(value)]="boardOptions.numberOfBoards">
            <mat-option *ngFor="let num of numberOfBoards" [value]="num">{{ num }}</mat-option>
          </mat-select>

        </mat-form-field>
      </div>
      <div class="option">
        <mat-checkbox labelPosition="before" [(ngModel)]="boardOptions.uniqueOnly">Unique numbers only</mat-checkbox>
      </div>
    </div>

    <div class="generate">
      <button mat-raised-button color="accent" (click)="giveMeTheJackpot()">$ GIVE ME THE JACKPOT $</button>
    </div>
  </section>
</main>

<footer>

</footer>
