@import '../../_variables.scss';

.options {
  padding: 2%;
  margin-bottom: 8%;
  &__header {
    font-family: $font-primary;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    padding: 2%;
    text-align: center;
  }

  &__icon {
    margin-left: 2%;
  }

  &__container {
    padding: 4%;
  }

  @media (min-width: 780px) and (max-width: 948px) {
    max-width: 371px;
  }

  @media (min-width: 948px) {
    max-width: 481px;
  }
}

.option {
  font-size: 1em;
  padding: 1% 0;
  display: flex;
  flex-wrap: wrap;

  &__label {
    font-family: $font-secondary;
    display: flex;
    align-items: center;
  }

  &--slider {
    flex-direction: column;

    @media (min-width: 455px) {
      flex-direction: row;
    }
  }

  &--select {
    margin-top: -12px;
  }
}

.numOfBoards {
  width: 16%;
  margin-left: 4%;
}

.generate {
  text-align: center;
  margin: 4% 0 8%;
}

.slider {
  display: flex;

  &__value {
    font-family: $font-secondary;
    margin-left: 8px;
    display: flex;
    font-weight: 600;
    font-size: 0.9em;
    align-items: center;
    color: $accent;
    border-radius: 50%;
  }
}
